# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
/server-node/.env*
/server-nest/.env*
/client/.env*
/server-node/node_modules
/server-nest/node_modules
/client/node_modules
